<div class="container" >
  <div class="ml-3 mb-3 row">
  <div  *ngFor="let items of actions"  class="card text-black bg-light m-3 " style="max-width: 20rem;">
      <div class="card-header"> <a matLine [routerLink]="['chart/', items.title]" style="color: #22213f;">{{ items.name }}</a></div>
      <div class="card-body">
        <h4 class="card-title">{{items.price}} $</h4>
        <a (click)="Buy(items)" class="btn btn-primary btn-sm text-white mr-2">Buy</a>
        <a (click)="Sell(items)" class="btn btn-primary btn-sm text-white mr-2">Sell</a>
        <a (click)="goChart(items.name)" class="btn btn-primary btn-sm text-white">Chart</a>
        <small class="ml-3 text-muted ">{{items.date}}</small>
      </div>
  </div>
  </div>
  </div>
