<div class="container mt-1" style="width: 100%;">

  <div class="card">
    <div class="card-header">
      <div class="card-title">  My chart  stock {{ stockInfo }} </div>
    </div>
    <div class="card-body">
      <app-line-chart></app-line-chart>
    </div>
  </div>

</div>
