

<div class="container mt-5" style="width: 70%;">
  <div class="card">
    <div class="card-header">
      <div class="card-title">Stock acheté</div>
    </div>
    <div class="card-body">
      <ul class="list-group list-group-flush">
        <li *ngFor="let stock of stocks" class="list-group-item">
          <div class="row">
            <div class="col-10"> {{stock.name | uppercase}}  </div>
            <div class="col-2"> {{ stock.prix }} $ </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
